body {
    padding: 100px;
}
.login__form-area {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
}

#my-balance {
    display: none;
}
.balance-card {
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
}
.deposit {
    background-color: #233142;
    color: #f3f3f3;
}
.withdraw {
    background-color: #455d7a;
    color: #f3f3f3;
}
.balance {
    background-color: #f95959;
    color: #f3f3f3;
}

#transaction-area {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
}